* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;  
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(45deg,#121431,#224963,#2db1b1,#013441);
  justify-content: center;
  align-items: center;
  text-align: left;
}

.main-page{
  z-index: 1;
  margin: 0em;
  padding-top: 3em;
  width: 100%;
  position: static;
  
}

.section {
  background: rgb(255, 255, 255);
  min-height: 70em;
  width: 100%;
}

.section-title {
  font-size: 2.5em;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5em;
  font-size: 1.5em;
}

.half-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-anim {
  width: 50%;
  max-width: 20em;
}

.particles-bg{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 8em;
  width: 100%;
  height: 100%;
  padding: 0.5em 0 0.5em 1em;
  max-height: 4em;
  background-color: rgba(0, 0, 0,1);
}

.nav-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1em;
  color: rgb(255, 255, 255);
}

.nav-title p {
  font-family: 'Open Sans', sans-serif;
}

.nav-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

#nav-logo {
  max-width: 5em;
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 2em;
  padding-right: 0.5em;
  color: aliceblue;
}

.menu-icon:hover {
  cursor: pointer;
  color: rgb(170, 170, 170);
  transition: all 0.2s ease-in-out;
}

#home {
  background: lightcoral;
}

#home blockquote {
  width: 50%;
}

#side-menu {
  text-align: center;
  visibility: hidden;
  padding-top: 4em;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 20em;
  height: 100vh;
  background: #013441;
}

#side-menu li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  border-bottom: honeydew;
}

#close-button {
  padding: 0.5em;
  width: 100%;
  text-align: right;
  color: aliceblue;
  font-size: 3em;

}

#faClose {
  cursor: pointer;
}